<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Reddit Flair Detector</title>
</head>

<body style="background:#FF8C00;">
 <div class="login">
	<h1>Reddit India Flair Detector</h1>
    <img src="./static/reddit-logo.png" style ="height:80px;width:80px;float:center;" alt="Reddit logo">
     
    <form action="{{ url_for('predict')}}" method="post">
    	<label for="home">Insert the link of the post for prediction:</label>
        <input type="url" id="home" name="home" required>
        <button type="submit" class="btn">Predict the flair!</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>
	<p>&#169; Made by Bhumika Bhatia </p>
</body>
</html>
